<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE  -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>Title page</title>  

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="section-container-spacer text-center">
              <h1 class="h2">03 : About me</h1>
            </div>
            
            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                
                <div class="row">    
                  <div class="col-xs-12 col-md-6">                  
                    <h3> Raihan Kapadia </h3>
                    
                    <p>I am a dedicated and passionate Python Full Stack Developer with a strong foundation in software engineering and a knack for creating efficient and user-friendly 
                      web applications. With over 7 years of hands-on experience in the complete software development life cycle, I have successfully gathered requirements, 
                      designed, developed, tested, and deployed complex applications that deliver value to users. My expertise lies in both front-end and back-end technologies, 
                      allowing me to craft seamless user interfaces and robust server-side solutions.
                    </p>
                    
                    <p> I have a proven track record of designing responsive and visually appealing web interfaces using HTML, CSS, and JavaScript, and I'm well-versed in utilizing modern libraries 
                      and frameworks like Bootstrap and jQuery. On the back end, I thrive on Python's versatility, using frameworks like Django and Flask to build scalable and maintainable 
                      applications. My proficiency in database design and management, including SQL and NoSQL databases, enables me to create efficient data storage and retrieval systems.
                    </p>

                    <p> I take pride in my continuous learning approach and stay updated with the latest industry trends and best practices. As a problem solver and a detail-oriented 
                      developer, I am committed to delivering high-quality code and innovative solutions that meet both technical requirements and user expectations.
                    </p>

                    <p> My passion for technology, combined with my dedication to producing exceptional results, makes me a valuable asset to any development team. I am excited to 
                      contribute my skills and expertise to create cutting-edge web applications that make a positive impact.
                    </p>

                    <p> Here is my favorite image from when I first came to the USA and went on my first trip to Bryce Canyon. </p>

                  </div>
                  
                  <div class="col-xs-12 col-md-6">
                    <img src="./static/assets/images/Raihan.jpg" class="img-responsive" alt="">
                  </div> 
                </div>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

  <script type="text/javascript" src="./static/main.70a66962.js"></script>

  </body>
</html>