<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>Title page</title>  

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    
    <!-- Add your content of header -->
    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
              <li><a href="./index.html" title="" class="active">001</a></li>
              <li><a href="./index.html" title="">002</a></li>
              <li><a href="./index.html" title="">003</a></li>
              <li><a href="./index.html" title="">004</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          
          <div class="col-xs-12">
            <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
            <div class="card-container">
              
              <div class="text-center">
                <h2>Online Asset Management and Reporting Platform</h2>
              </div>
              <h3 style="font-size:16px;">Project Statement - The primary goal was to improve the user interface, backend functionality, and overall performance of the tool. The project followed a comprehensive Software Development Life Cycle (SDLC) process, encompassing requirements gathering, system analysis, design, development, testing, and deployment.</h3>
              
              <br>
              <ul style="font-size:14px;">
                <li>Responsible for gathering requirements, system analysis, design, development, testing, and deployment by participating in complete SDLC process.</li>
                <li>Enhanced existing automated solutions, such as the inquiry Tool for automated Asset/Department reporting and added new features and fixed bugs.</li>
                <li>Developed views and templates with Python and Django's view controller and templating language to create a user-friendly website interface.</li>
                <li>Created the backend application using Python, Django, and MySQL.</li>
                <li>Performed server side application using Django framework and developed a chat application with it and integrated with the main application by client-server architecture.</li>
                <li>Created the environment specific settings for a new deployment and update the deployment specific conditional checks in code base to use specific checks.</li>
                <li>Improved the application by designing and developing it using HTML and JavaScript.</li>
                <li>Worked on python modules to extract /load asset data from the MySQL database.</li>
                <li>Designed and implemented a dedicated MySQL database server to drive the Webapps and report on daily progress.</li>
                <li>Worked on Jenkins for continuous integration tool for deployment of project.</li>
                <li>Deployed the project into Heroku using GIT version control.</li>
                <li>Involved in development, performance testing & defects fixing.</li>
                <li>Update, maintain and change the current web applications as per the project requirement.</li>
                <li>Skilled in using collections in Python for manipulating and looping through different user defined objects.</li>
                <li>Worked on various enhancements and bug fixes simultaneously.</li>
                <li>Involved in code reviews so as to implement coding standards for the entire project.</li>
                <li>Maintain and compile records of website content.</li>
              </ul>

              <br>
              <h3 style="font-size:16px;"> Environment: Python 2.7, 3.0, Django 1.4, Beautifulsoup, HTML5, CSS3, JavaScript, XML, JSON, JQuery, AJAX, Bootstrap, Angular
                JS, Backbone JS, Node.js, Restful Web services, Apache, Linux, Amazon s3, Heroku, GIT, MySQL, Mongo DB. 
              </h3>
            </div>
          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript" src="./static/main.70a66962.js"> </script>
  </body>

</html>