<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link rel="apple-touch-icon" sizes="180x180" href=". /static/assets/apple-icon-180x180.png">
    <link href=". /static/assets/favicon.ico" rel="icon">

    <title>Title page</title>  

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    
    <!-- Add your content of header -->
    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>
          </div> 
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          
          <div class="col-sm-8 col-sm-offset-2 section-container-spacer">
            <div class="text-center">
              <h1 class="h2">02 : Experience &amp; Projects</h1>
              <p> I am an accomplished Python developer with over 8 years of experience in full software development life cycle, encompassing Requirement Analysis, Design, Development, Implementation, Deployment, and Testing of web-based applications using Python 3 and Django 1.4. Proficient in object-oriented programming, I have expertise in various Python IDEs and libraries, including Beautiful Soup, pytables, and Pandas. Skilled in Amazon AWS, data engineering, and databases such as MySQL, Snowflake, and Vertica, I excel in writing clean unit tests, automation, and ensuring code quality. With a strong foundation in Agile methodologies and effective communication, I am adept at team collaboration and project management. My proficiency extends to Linux and Windows, troubleshooting, and documentation. I am committed to delivering efficient, well-optimized solutions while meeting deadlines, making me a valuable asset for any development team. </p>
            </div>
          </div>

          <div class="col-md-12">
            <div id="myCarousel" class="carousel slide projects-carousel">
              <!-- Carousel items -->
              <div class="carousel-inner">
                
                <div class="item active">
                  <div class="row">
                    
                    <div class="col-sm-4">
                      <a href="{{ url_for('work_page', index = 1 )}}" title="AAAA" class="black-image-project-hover">
                        <img src="./static/assets/images/work01-hover.jpg" alt="" class="img-responsive">
                      </a>
                      
                      <div class="card-container card-container-lg">
                        <h4>001/004</h4>
                        <h3>Risk Management Portal for Insurance Clients</h3>
                        <p>Marsh McLennan, TX, Remote || Sr. Python Django Developer || October 2021 - Till Date</p>
                        <a href="{{ url_for('work_page', index = 1 )}}" title="" class="btn btn-default"> View Details </a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a href="{{ url_for('work_page', index = 2 )}}" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work02-hover.jpg" alt="" class="img-responsive">
                      </a>
                        
                      <div class="card-container card-container-lg">
                        <h4>002/004</h4>
                        <h3>Data Integration and Analytics Platform</h3>
                        <p>Sanford Health, SD, Remote || Python developer || October 2019 - September 2021</p>
                        <a href="{{ url_for('work_page', index = 2 )}}" title="" class="btn btn-default">View Details</a>
                      </div>
                    </div>

                    <div class="col-sm-4">
                      <a href="{{ url_for('work_page', index = 3 )}}" title="" class="black-image-project-hover">
                        <img src="./static/assets/images/work03-hover.jpg" alt="" class="img-responsive">
                      </a>
                        
                      <div class="card-container card-container-lg">
                        <h4>003/004</h4>
                        <h3>Online Asset Management and Reporting Platform</h3>
                        <p>Citi Bank, TX || Python Developer || April 2017 - September 2019</p>
                        <a href="{{ url_for('work_page', index = 3 )}}" title="" class="btn btn-default">View Details</a>
                      </div>
                    </div>
                      
                  </div>
                </div>

                <!--/item-->
                <div class="item">
                  <div class="row">
                    
                    <div class="col-sm-4">
                      <a href="{{ url_for('work_page', index = 4 )}}" class="black-image-project-hover">
                        <img src="./static/assets/images/work02-hover.jpg" alt="Image" class="img-responsive">
                      </a>
                      
                      <div class="card-container">
                        <h4>004/004</h4>
                        <h3>Financial Dashboard and Analytics Platform</h3>
                        <p>ValueLabs, India || Python Developer || April 2015 - February 2017</p>
                        <a href="{{ url_for('work_page', index = 4 )}}" class="btn btn-default">Discover</a>
                      </div>
                    </div>

                  </div>
                </div>
              
                <!--/item-->
              </div>
          
              <!--/carousel-inner-->
              <a class="left carousel-control" href="#myCarousel" data-slide="prev"></a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next"></a>
            </div>

            <!--/myCarousel-->
          </div>
        </div>
      </div>
    </div>


    <footer class="footer-container text-center">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <p>© UNTITLED | Website created with <a href="http://www.mashup-template.com/" title="Create website with free html template">Mashup Template</a>/<a href="https://www.unsplash.com/" title="Beautiful Free Images">Unsplash</a></p>
          </div>
        </div>
      </div>
    </footer>

    <script>
      document.addEventListener("DOMContentLoaded", function (event) {
        navActivePage();
      });
    </script>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>

</html>