<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>Title page</title>  

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->

    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
              <li><a href="./index.html" title="" class="active">001</a></li>
              <li><a href="./index.html" title="">002</a></li>
              <li><a href="./index.html" title="">003</a></li>
              <li><a href="./index.html" title="">004</a></li>
            </ul>
          </div> 
      
        </div>
      </nav>
    </header>

    <div class="section-container">
      <div class="container">
        <div class="row">
          
          <div class="col-xs-12">
            <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
            <div class="card-container">
              <div class="text-center">
                <h2>Risk Management Portal for Insurance Clients</h2>
              </div>
            
              <h3 style="font-size:16px;">Project Statement - Create a comprehensive web-based risk management portal that allows Marsh &amp; McLennan's insurance clients to assess and manage their risk profiles. The portal should provide a user-friendly interface for clients to input and analyze their risk data</h3>
              <br>

              <ul style="font-size:14px;">
                <li>Responsible for complete SDLC process in gathering requirements, system analysis, design, development, testing and deployment.</li>
                <li>Designed the front end of the application using Python, HTML, CSS and JSON.</li>
                <li>Skilled in using collections in Python for manipulating and looping through different user defined objects.</li>
                <li>Used Numpy and pandas for Numerical and statistical analysis.</li>
                <li>Worked on backend of the application, mainly using Active Records.</li>
                <li>Developed and tested many features for dashboard using Python and JavaScript.</li>
                <li>Spearheaded adoption of Responsive web design principles and converted existing websites to Responsive websites by using Bootstrap.</li>
                <li>Responsible for creating the screens with table-less designs meeting W3C standards.</li>
                <li>Created interactive websites and its features using JQuery/JQuery UI.</li>
                <li>Used Django framework along with Postgres for application development and to provide comprehensive logging of all stock transactions.</li>
                <li>Used Amazon AWS SDK to deploy application on Amazon S3 Cloud.</li>
                <li>Experienced in writing SQL Queries and implementing stored procedures, functions, packages, tables, views, Cursors, triggers.</li>
                <li>Manage, collaborate and coordinate the work of an offshore development team.</li>
                <li>Build SQL queries for performing various CRUD operations like create, read, update and delete.</li>
                <li>Created database using MySQL, wrote several queries to extract/ store data.</li>
                <li>Experienced in Agile Methodologies and SCRUM Process.</li>
                <li>Worked in development of applications especially in UNIX environment and familiar with all of its commands.</li>
              </ul>              
              <br>
            
              <h3 style="font-size:16px;"> Environment: Python 2.7, Django 1.4, HTML5, CSS, XML, JavaScript, JQuery, AJAX, Angular JS, Node JS, GIT, Linux, Shell Scripting,
                AWS SDK, MYSQL, mongo DB. 
              </h3>

            </div>
          </div>

        </div>
      </div>
    </div>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>

</html>