<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="description" name="description">
    <meta name="google" content="notranslate" />
    <meta content="Mashup templates have been developped by Orson.io team" name="author">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">
    
    <link rel="apple-touch-icon" sizes="180x180" href="./static/assets/apple-icon-180x180.png">
    <link href="./static/assets/favicon.ico" rel="icon">

    <title>Title page</title>  

    <link href="./static/main.3f6952e4.css" rel="stylesheet">
  </head>

  <body class="">
    <div id="site-border-left"></div>
    <div id="site-border-right"></div>
    <div id="site-border-top"></div>
    <div id="site-border-bottom"></div>
    <!-- Add your content of header -->
  
    <header>
      <nav class="navbar  navbar-fixed-top navbar-default">
        <div class="container">
          
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav ">
              <li><a href="./index.html" title="">01 : Home</a></li>
              <li><a href="./works.html" title="">02 : Works</a></li>
              <li><a href="./about.html" title="">03 : About me</a></li>
              <li><a href="./contact.html" title="">04 : Contact</a></li>
            </ul>


            <ul class="nav navbar-nav navbar-right navbar-small visible-md visible-lg">
              <li><a href="./index.html" title="" class="active">001</a></li>
              <li><a href="./index.html" title="">002</a></li>
              <li><a href="./index.html" title="">003</a></li>
              <li><a href="./index.html" title="">004</a></li>
            </ul>
          </div> 
        
        </div>
      </nav>
    </header>
  
    <div class="section-container">
      <div class="container">
        <div class="row">
          
          <div class="col-xs-12">
            <img src="./static/assets/images/work001-01.jpg" class="img-responsive" alt="">
            <div class="card-container">
              <div class="text-center">
                <h2> Data Integration and Analytics Platform </h2>
              </div>
              
              <h3 style="font-size:16px;">Project Statement - Developed full-stack applications using Python on Django Web Framework, implementing MVC architecture. Translated business requirements into technical designs, participated in SDLC stages, and ensured responsive UI using HTML, CSS, Bootstrap, jQuery. Leveraged MongoDB, Spark DataFrames for data handling. </h3>
              <br>

              <ul style="font-size:14px;">
                <li>Gathering requirements and translating the Business details into Technical design.</li>
                <li>Participated in all the stages of software development lifecycle (SDLC) like design, testing development and implementation.</li>
                <li>Developed entire frontend and backend modules using Python on Django Web Framework by implementing MVC architecture.</li>
                <li>Developed the tools using Python Django and used MongoDB for databases. Parsers written in Python for extracting useful data from the design database. Used Parse kit (Enigma.io) framework for writing Parsers for ETL extraction.</li>
                <li>Implemented responsive user interface and standards throughout the development and maintenance of the website using HTML, CSS, JavaScript, Bootstrap, jQuery.</li>
                <li>Extensively worked with spark Data frames for ingesting data from flat files into RDD's to transform unstructured data and structured data.</li>
                <li>Worked on MongoDB database concepts such as locking, transactions, indexes, Sharding, replication, schema design.</li>
                <li>Experience in creating Docker containers leveraging existing Linux Containers and AMI's in addition to creating Docker containers from scratch.</li>
                <li>Setup Docker on Linux and configured Jenkins to run under Docker host.</li>
                <li>Developed various API's for Django applications using Django-tasty pie.</li>
                <li>Used JIRA to build an environment for development.</li>
                <li>Developed Wrapper in Python for instantiating multi-threaded application.</li>
                <li>Creating RESTful web services for Catalog and Pricing with Django MVT, MySQL, and MongoDB.</li>
                <li>Fixed bugs, providing production support, enhanced applications by improving code reuse and performance by making effective use of various design patterns.</li>
                <li>Deployed and monitored scalable infrastructure on Amazon web services (AWS).</li>
                <li>Implemented monitoring and established best practices around using Elastic search and used AWS Lambda to run code without managing servers.</li>
                <li>Experience in Amazon Web Services (AWS) cloud platform like EC2, Virtual private clouds (VPCs), Storage models (EBS, S3, instance storage), Elastic Load Balancers (ELBs).</li>
                <li>Designed the data models to be used in data intensive AWS Lambda applications which are aimed to do complex analysis creating analytical reports for end-to-end traceability, lineage, and definition of Key Business elements from Aurora.</li>
                <li>Implemented automated local user provisioning instances created in AWS cloud and google cloud.</li>
                <li>Excelled on creating AMI (AWS Machine Images) that utilizes ELB (Elastic Load Balancer) and Auto Scaling. Experience with designing and configuring secure Virtual Private Cloud (VPC) through private and public networks in AWS by creating various subnets, routing table, Network ACL, NAT gateways.</li>
                <li>Implemented a 'server less' architecture using API Gateway, Lambda, and Dynamo DB and deployed AWS Code from Amazon S3 buckets.</li>
                <li>Created a Lambda Deployment function, and configured it to receive events from your S3 bucket.</li>
                <li>Front-end web development using HTML/CSS, JQuery, Bootstrap as well as back-end development using Golang and SQL.</li>
                <li>Used Python based GUI components for the front-end functionality such as selection criteria. Administration of dedicated collocated RHEL 4 machine and configured complex Apache configuration files.</li>
                <li>Experienced in building a Command line tool to interact with RESTful API using in Golang.</li>
                <li>Familiar with UNIX / Linux internals, basic cryptography &amp; security.</li>
                <li>Generated graphical reports using python package NumPy and Matplotlib.</li>
                <li>Implemented task object to interface with data feed framework and invoke database message service setup and update functionality.</li>
                <li>Performed efficient delivery of code based on principles of Test Driven Development (TDD) and continuous integration to keep in line with Agile Software Methodology principles.</li>
              </ul>
              <br>
            
              <h3 style="font-size:16px;">Environment: Python, Django 1.7, CherryPy, Golang, HTML5, CSS, Bootstrap, JSON, JavaScript, AJAX, RESTful web service,
                MongoDB, MySQL, jQuery SQLite, Elastic search, Docker, Windows 12 Server, AWS (EC2, S3), PyUnit, Jenkins, Selenium
                Automation Testing. 
              </h3>
            </div>
          </div>

          <div class="col-xs-12">
            <img src="./static/assets/images/work001-04.jpg" class="img-responsive" alt="">
          </div>
        
        </div>
      </div>
    </div>

    <script type="text/javascript" src="./static/main.70a66962.js"></script>
  </body>

</html>